html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;

}
/* Design System */
:root {
    /* Color coding  */
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-bg-color2: #D9D9D9;

    /* Card/Title */
    --cardtitle-font-weight: 700;
    --cardtitle-font-size: 16px;
    --cardtitle-line-height: 19px;

    /* Title/Section */
    --titlesection-font-weight: 700;
    --titlesection-font-size: 22px;
    --titlesection-line-height: 26px;

    /* Information */
    --info-font-weight: 400;
    --info-font-size: 16px;
    --info-line-height: 19px;

    /* Style Line in Nav Menu */
    --navline-text-underline-offset: 4px;
    --navline-text-decoration-thickness: 2px;
}


body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
}

.main-container {
    width: 93%;
    margin: auto;
}

header {
    display: flex;
    height: 79px;
    background :white;
}

#logo-header {
    height:19px;
    width: 61.09px;
    margin-top: 35px; 
}

.nav {
    display: flex;
    gap: 68px;
    margin-left: auto;
}

.title {
    font-family: Raleway;
    font-size: var(--info-font-size);
    font-weight: var(--info-font-weight);
    line-height: var(--info-line-height);
    letter-spacing: 0em;
    color: black;
    text-align: center;
    padding-top: 16px;
    border-top:2px solid transparent;
}

.title:hover { 
    color: var(--main-color);
    border-top-color: var(--main-color);
}
.info-group {
    display: flex;
    flex-direction: column;
}

.headline h1 {
    display: flex;
    font-weight: 700;
    font-size: 22px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.headline h2 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

/**** Search Bar ****/
.search-bar {
    display: flex;
    flex-direction: row;
    height: 49px;
    margin-bottom: 27px;
}

.search-bar .location {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    margin-right: 0;
    padding: 16px;
}

.location {
    color: black;
    width: 14px;
    height: 18px;
    top: 15px;
    left: 18px;
}

.citysearch {
    color: black;
    background-color: white;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-right: transparent;
    border-left: transparent;
    padding: 24px 24px 24px 24px;
    align-items: center;
    width: 151px;
}

.btn-search {
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: #0065FC;
    width: 105px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 700;
    gap: 10px;
    align-content: center;
    justify-content: center;
 }

.btn-search .span {
    padding-left: 25px;
}

.hidden-image .fa-solid {
    display: none;
}

.location .fa-location-dot {
    color:black;
    width: 14px;
    height: 18px;
}

/**** Filter Bar ****/
.filter-bar {
    display: flex;
    align-items: center;
    row-gap: 25px;
    column-gap: 20px;
    height: 50px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

.filter-btn{
    background-color: white;
    height: 50px;
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px solid var(--filter-bg-color2);
    gap: 10px;
    font-size: 17px;
    font-weight: 700;
}

.filter-btn:hover{
    background-color: var(--filter-bg-color);
}

.fa-solid, .fa{
    color: var(--main-color);
}

.filter-btn .fa-solid {
    padding-right: 12px;
}


/*** Info Line ***/

.info-line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin:20px 0 34px 0;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid var(--filter-bg-color2);
    margin-right: 11px;
  }

.fa-info {
    width: 4px;
    height: 10px;
    margin: 3px 0 0 9px;
    }

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
    font-weight: var(--titlesection-font-weight);
    font-size: var(--titlesection-font-size);
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50%;
    column-gap : 10px;
    margin-bottom: 40px;
}

.hebergements-cards .card {
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 94%; 
    padding-left: 15px;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    padding: 3px 0 3px 0;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    /* margin-bottom: 5px; */
}

.hebergement-endtitle{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px; 
}

/******** Activités à Marseille ********/

.activites{
    margin-top: 70px;
    padding-left: 30px;
    width: 93%;
}

.activites-card {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 20px;
    justify-content: center;
    align-content: center;
}

.activites-card .card{
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 0; 
}

.activites-card img {
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.acitivtes-card .card-title {
    height: 59px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.activites-card .card-txt .card-title {
    padding: 30px;
    height: 33px
}

/***** Footer *****/

.bottom-container{
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 50px;

}

footer a:first-child p{
    font-size: 18px;
    font-weight: 700;
    font-family: Raleway;
    border-spacing: 40px;
    
}

.bottom-left, .bottom-center, .bottom-right {
    font-size: 16px;
    font-weight: 400;
    font-family: Raleway;
    margin: 10px 25px;
}

.bottom-container p{
    padding: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        width: 100%;
        margin: auto;
    }

    .filter-bar{
        flex-wrap: wrap;
        margin-bottom: 75px;
    }

    .filter-bar h3{
        margin-top: 15px;
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card img {
        height: 160px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    .headline {
        width: 335px;
        margin: 26px 10px 0 10px;
    }

    #logo-header {
        margin: 30px;       
    }
    
    header {
        display: grid;
        grid-template-rows: 100% 50%;
        grid-template-columns: 100%;
        justify-items: center;
        margin-left: 55px;

    }

    .nav{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;
        margin: 0;
        margin-bottom: 15px;
        gap: 0;
    }

    .nav:hover { 
        color: var(--main-color);
        border-bottom-color: var(--main-color);
    }

    .search-bar {
        margin-top: 10px;
    }

    .title{
        font-size: var(--info-font-size);
        font-weight: var(--info-font-weight);
        padding: 0 70px 34px 55px;
        border-bottom:2px solid #F2F2F2;
        display: grid;
        margin-bottom: -13px;
        align-content: center;
    } 

    .title:hover { 
        color: var(--main-color);
        border-bottom-color:var(--main-color);
        border-top:none;
    }

    .info-group {
        margin: 20px 0px 10px 35px;
    }

    .filter-bar{
        margin-bottom: 0px;
        justify-content: center;
        flex: 1;
    }
    
    .btn-display{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter-btn{
        font-size: 14px;
        min-width: 48%;
        margin-bottom: 10px;
    }

    .info-line {
        margin-top: 25px;
        flex-wrap: nowrap;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        margin-top: 25px;
        margin-bottom: 30px; 
        box-sizing: initial;
    }

    .hebergements-and-populaires .fa-solid {
        width: 10px;
    }

    .hebergements-cards .card {
        margin-top: 15px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards, .hebergements-cards, .activites-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
       }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

   .populaires-cards .card-rating .fa-solid {
        width: 10px;
    }

    section.hebergements {
        background-color: white;
        padding: 0px 15px 0 15px;
    }

    .activites {
        padding:0px 15px 0 15px;
    }
    .activites-card .card {
        margin-bottom: 30px;
    }
    .bottom-container {
        background-color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
    }

    div.btn-search{
       display: none;
    }

    .hidden-image .fa-solid{
        display: block;
        background-color: blue;
        margin-left: -10px;
        padding: 15px 16px 15px 16px;
        border-radius: 15px;
        width: 20px;
        height: 20px;
        font-size: 18px;
    }

    .hidden-image, .fa-magnifying-glass{
        color: white ;
    }
    
    input::placeholder{
        color: black;
    }


    .citysearch {
        padding-right: 70px;
    }

    .main-container {
        width: 100%;
        margin: auto;
    }
   
    .fa-solid {
        padding-right: 0px;

    }
}